@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DINCondensed';
  src: url('/DINCondensedSecCAP-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-din-condensed: 'DINCondensed', 'Arial Narrow', 'Helvetica Condensed',
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-din-condensed: 'DINCondensed', 'Arial Narrow', 'Helvetica Condensed',
      sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-din-condensed);
}
